/**************** Page and tag styles ****************/

body
{margin:0; padding:0; color:#303030; background:#fafafa url(/images/bodybg.gif) top left repeat-y; font:76% Verdana,Tahoma,sans-serif;}

ul
{list-style:circle; margin:15px 0 20px 0; font-size:0.9em;}

li
{margin:0 0 8px 25px;}

a
{color:#d85d5d; font-weight:bold; text-decoration:none;}

a:hover
{color:#505050; text-decoration:underline;}

img
{float:left; margin:0 15px 15px 0; padding:1px; background:#ffffff; border:1px solid #d0d0d0;}

a img
{border-color:#d85d5d;}

a img:hover
{background:#d85d5d; border-color:#d85d5d;}

/**************** Sidebar area styles ****************/

#sidebar
{position:absolute; top:0; left:0; width:220px; height:100%; overflow:auto; background:#e0e0e0 url(/images/sidebarbg.gif) top right repeat-y; text-align:right;}

body > #sidebar
{position:fixed;}

#sidebar h1
{margin:20px 18px 0 5px; color:#d85d5d; font-size:1.6em; letter-spacing:-2px; text-align:right;}

#sidebar h2, #sidebar h3
{margin:0 20px 18px 5px; color:#808080; font-size:1.1em; font-weight:bold; letter-spacing:-1px; text-align:right;}

#sidebar h3
{margin:20px 18px 4px 5px; color:#606060;}

#sidebar  p
{margin:0 20px 18px 5px; color:#606060; font-size:0.8em;}

#sidebar a
{color:#808080}

/**************** Navigation menu styles ****************/

#menu a
{display:block; width:202px; padding:5px 18px 5px 0; color:#606060; background:#e0e0e0 url(/images/sidebarbg.gif) top right repeat-y; font-size:1.8em; font-weight:normal; text-decoration:none; letter-spacing:-2px;}

#menu a:hover 
{color:#303030; background:#f0f0f0 url(/images/sidebarbg.gif) top right repeat-y;}

#menu a.active
{padding:5px 18px 5px 0; background:#fafafa; border-top:2px solid #c0c0c0; border-bottom:2px solid #c0c0c0;}

#menu a.active:hover
{color:#505050; background:#fafafa;}

/**************** Content area styles ****************/

#content
{width: auto; margin: 25px 0 0 240px; padding: 0 0 20px; background:#fafafa;}

#content p
{margin:0 0 20px 0; line-height:1.5em;}

#content h1
{margin:0; color:#d85d5d; font-size:4em; letter-spacing:-5px; text-align:center;}

#content h2
{margin:0; color:#808080; font-weight: normal; letter-spacing:-1px; text-align:center;
	font-size: 2em;
}

#content h3
{clear:both; margin:30px 0 10px 0; color:#d85d5d; font-weight:normal; font-size: 2em; letter-spacing:-2px;}

/* rails scaffold stuff*/

pre {
  background-color: #d8d8d8;
  padding: 10px;
  font-size: 11px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#info {
	background-color: #e0e0e0;
	padding: 5px 20px 10px 5px;
	margin-top: 10px;
}

#cloud {
	background-color: #444;
	padding: 5px 20px 10px 5px;
	margin-top: 10px;
}

#search_bar {
	float: right;
	clear: both;
	position: absolute;
	right: 0;
	top: 0;
	margin: 2px;
}

#search_names{
	margin: 50px;
}

#login_form{
	margin: 50px;
}

#signup_form{
	margin: 50px;
}

#settings_form{
	margin: 50px;
}

#tag_list {
	margin: 4px;
}

#following {
	border: 1px dashed #d7d7d7;
	background-color: #c9c9c9;
	margin-left: 40px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#bit_owner {
	font-size: 16px;
	font-weight: bold;
}

#bit_title {
	font-size: 16px;
	font-weight: bold;
}

#bit_info {
	float: left;
	font-size: 12px;
	margin-top: 5px;
	padding: 2px;
}

#bit_date {
	float: right;
}

#mini_login_name {
	float: left;
	margin-left: 4px;
}