<h3>Following</h3>
<div id="following">
  <% (@user || current_user).users_being_followed.each do |following| %>
    <div><%= link_to following.login.capitalize, person_bits_bit_path(following.id) %></div>
  <% end %>
</div>