<h3>
  <% if @user == @current_user %>
    Followers
  <% else %>
      <%= @user.full_name.capitalize %> followers
  <% end %>
</h3>
<div id="following">
  <% if true
    current_user.followers.each do |follower| %>
    <div><%= link_to follower.login.capitalize, person_bits_bit_path(follower.id) %></div>
  <%
  end
    end %>
</div>