<table>
  <tr>
    <th>
      <% if logged_in? %>
        <%= current_user == @user ? "My" : @user.full_name %>
      <% else %>
        All
      <% end %>
      Bits
    </th>
  </tr>
  <% for bit in @bits %>
    <tr>
      <td><%= link_to h(bit.title), bit %></td>
    </tr>
    <tr>
      <td><pre><%=  bit.list_formatted_content %></pre></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Bit", new_bit_path %></p>
