<table>
  <tr>
    <th><%= logged_in? ? "My" : "All"%> Bits</th>
  </tr>
  <% for bit in @bits %>
    <tr>
      <td><%= link_to h(bit.title), bit %></td>
    </tr>
    <tr>
      <td><pre><%= h bit.list_formatted_content %></pre></td>
    </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Bit", new_bit_path %></p>
